.top {
  height: 43%;
}
.image {
  height: 100%;
  background-repeat: no-repeat;
  background-size: 65% 100%;
  background-color: #26090b;
}
.title-bar {
  height: 15%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
}
.title {
  color: #26090b;
  font-family: Modak;
  font-size: 30px;
}
.capitalize {
  text-transform: uppercase;
}
.align-center {
  align-self: center;
}
.middle {
  background: rgb(255, 255, 255);
  height: 7%;
  display: flex;
  justify-content: space-between;
  margin: 0 3% 0 0;
  align-items: center;
}
.lato {
  font-family: Lato;
}
.button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 18px;
  font-size: 12px;
}
.sign-up-button {
  background: #bf252f;
  color: #f9edee;
}
.margin-right {
  margin-right: 3%;
}
.no-shake {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}
.book-button {
  background: #26090b;
}
.promo-single {
  display: flex;
  width: 30%;
  background: #bf252f;
  border-radius: 0 120px 120px 0;
  height: 45%;
  top: 20%;
  position: relative;
  left: 50%;
  flex-direction: column;
  justify-content: space-evenly;
  animation: move 8s 2;
  overflow: auto;
}
@keyframes move {
  0% {
    left: 50%;
  }
  50% {
    left: 40%;
  }
  100% {
    left: 50%;
  }
}
.white {
  color: rgb(255, 255, 255);
}
.margin-left {
  margin-left: 5%;
}
.title-line {
  line-height: 28px;
  font-size: 36px;
}
.card {
  background-color: #26090b;
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-rows: 12% 38% 30% 20%;
  text-align: center;
}
.bottom {
  height: 50%;
  background: #73494a;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  grid-template-rows: 14% 84%;
}
.button-container {
  display: grid;
  margin-top: 2%;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.cards {
  height: 86%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  color: rgb(255, 255, 255);
}
.bottom-button {
  border-radius: 17px;
  background: #73494a;
  color: #fff;
  font-weight: bolder;
}
.selected,
.bottom-button:hover {
  background: #fff;
  color: #5a4345;
}
.bigger {
  height: 99%;
}
.card-title {
  color: white;
}
.card-button {
  width: 70%;
  justify-self: center;
  margin-bottom: 2%;
  color: #bf252f;
}
.card-top {
  position: relative;
  display: grid;
  justify-items: center;
  font-size: 24px;
  color: #fff;
  background: #bf252f;
  width: 100%;
}
.semi-circle {
  width: 7.5%;
  height: 125%;
  border-radius: 20px;
  background: #bf252f;
}
.margin-top {
  margin-top: 25%;
}
.smaller-card-top {
  height: 80%;
}
.smaller-button {
  height: 65%;
  align-self: end;
}
.align-end {
  align-self: end;
}
.align-start {
  align-self: start;
}
